 body {background-color: gray; color: white;}
.hidden {
  display: none;
}

/*form*/
.shake {
  width: 500px;
}

.letterA {
  color: rgb(221, 0, 0);
}
.letterC {
  color: rgb(221, 133, 0);
}
.letterG {
  color: rgb(24, 214, 24);
}
.letterT {
  color: blue;
}
