h1 {
  color: #f08700;
  margin-top: 1rem;
  text-align: center;
}
h2 {
  display: none;
}
h3 {
  color: #00a7a7;
  margin: 0;
  font-size: 1.5em;
}
main {
  background-color: white;
}
p {
  margin-bottom: 1rem;
  display: inline;
}
button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.hidden {
  display: none;
}
@media only screen and (min-width: 450px) {
  main {
    padding: 3rem;
  }
}
/* Header */
header {
  background-color: #f08700;
  filter: drop-shadow(0 -1px 13px #5c5c5c);
  display: grid;
  width: 100%;
}
header picture {
  background-color: #f08700;
  grid-column: 1 / 4;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  grid-column: 1 / 4;
  -ms-grid-row: 2 / 3;
  grid-row: 2 / 3;
  margin: 1rem 2rem 2rem;
}
nav button {
  background-color: #f08700;
  border: none;
  border-bottom: 0.25rem solid #f08700;
  color: #292929;
  display: block;
  font-size: 1.375rem;
  font-weight: 600;
  padding-right: 1rem;
  text-decoration: none;
}
nav button:hover {
  border-bottom: 0.25rem solid white;
  color: white;
}
@media only screen and (min-width: 450px) {
  header picture {
    margin: 82px auto 0;
    width: 29rem;
  }
  nav button {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 810px) {
  header picture {
    grid-column: 1 / 2;
    margin: 2rem 0 2rem 2rem;
    width: 17rem;
  }
  header {
    grid-template-columns: 17rem auto;
    grid-template-rows: 1 / 2;
  }
  nav {
    grid-column: 2 / 3;
    -ms-grid-row: auto;
    grid-row: auto;
    margin: 1rem 0;
    justify-content: flex-end;
  }
  nav button {
    padding-right: 1rem;
  }
}
/* Forms */
label {
  font-size: 1rem;
  padding: 0 .65rem;
}
label span {
  background-color: #f08700;
  font-weight: 700;
}
input {
  border: 1px solid black;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 2px 4px 11px #00000063;
  -moz-box-shadow: 2px 4px 11px #00000063;
  box-shadow: 2px 4px 11px #00000063;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.375rem;
  margin-bottom: 3rem;
  padding: .65rem .65rem;
  width: 100%;
}
input:hover {
  -webkit-box-shadow:
          inset 1px 0 1px 1px #000000a1,
          2px 4px 11px #000000e0;
  -moz-box-shadow:
          inset 1px 0 1px 1px #000000a1,
          2px 4px 11px #000000e0;
  box-shadow:
          inset 1px 0 1px 1px #000000a1,
          2px 4px 11px #000000e0;
}
@media only screen and (min-width: 810px) {
  label span {
    float: right;
    position: relative;
    top: 6px;
  }
  label span::after { /* clearfix */
    clear: both;
    content: ",";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
/* Footer */
footer {
  border-top: 0.27rem solid #00a7a7;
}
footer button {
  background-color: #2d2a25;
  border: none;
  color: #bbb7a5;
  font-size: 1.375rem;
  height: 6rem;
  width: 100%;
}
footer button:hover {
  color: #f08700
}
footer div {
  background-color: #171614;
  border: none;
  color: #959183;
  height: 3rem;
  padding: 0;
  text-align: center;
  width: 100%;
}
