@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
@-ms-viewport{
  width: device-width;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: black;
}
body {
  background-color: #171614;
  font-family: 'Poppins', sans-serif;
  font-size: 1.375rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
